<%- include('../../partials/header.ejs')  %>
<%- include('../../partials/navbar.ejs')  %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edit Article</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/update">
                <input type="hidden" name="id" value="<%= article.id %>">
                <input class="form-control" type="text" name="title" placeholder="Define the title of the article" value="<%= article.title %>"><br>
                <textarea class="form-control" placeholder="Write the article here" name="body" id="article"></textarea><br>
                <label>Category</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category) =>{ %>
                        <% if(category.id == article.categoryId) { %>
                            <option value="<%= category.id %>" selected><%= category.title %></option> 
                        <% } else { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>

<div id="content" style="display: none;">
    <%- article.body %>
</div>


<%- include('../../partials/footer.ejs')  %>

<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        selector: "#article",
        plugins: [
            'table'
            //'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons' // SOME PLUGINS FROM TINYMCE
        ],
        /*init_instance_callback: () =>{
            tinymce.get("article").setContent($("#content").html());
        }*/
    });

</script>